@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #010133, #000219);
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content-left {
  padding: 70px;
  padding-left: 100px;
}

.school-logo {
  width: 190px;
  height: 190px;
  margin-bottom: 6rem;
}

.main-head {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #f1f1f1;
}

.main-head span {
  background: -webkit-linear-gradient(left, #7209b7, #f72585, #fc8546);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-left p {
  margin-top: 15px;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.content-left p span {
  color: #fce056;
}

.content-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding-top: 1.8%;
}

.content-right div {
  display: flex;
  flex-direction: column;
}

.content-right div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-logo {
  width: 42rem;
  height: 42rem;
}

.register-btn {
  cursor: pointer;
  background-color: #fb9e57;
  color: #131a1c;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 20%;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  margin-top: 19%;
  margin-right: 20px;
}
.register-btn_ {
  cursor: pointer;
  background-color: #7209b7;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 25%;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  margin-top: 19%;
}

.time {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
  color: #bfc0d4;
  width: 100%;
}
.time div {
  text-align: center;
  margin: 0px 30px;
  width: 100%;
}
.time div p {
  font-size: 80px;
  margin-bottom: -17px;
  font-weight: 600;
}

.time h3 {
  font-size: 70px;
}
.btns {
  display: flex;
  flex-direction: row;
}

.time-left {
  display: none;
  margin-top: 20px;
  /* border: 1px solid pink; */
}

.time-left div {
  text-align: center;
  margin: 0px 10px;
  width: 100%;
}

.time-left div p {
  font-size: 40px;
  margin-bottom: -17px;
  color: #b0b1c0;
  font-weight: 600;
}

.time-left h3 {
  font-size: 40px;
  margin-top: 10px;
}

.top-logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-logos img:nth-child(2) {
  width: 215px;
  height: 215px;
  display: none;
}

@media only screen and (max-width: 1280px) {
  .content-left {
    padding: 50px;
  }
  .school-logo {
    width: 190px;
    height: 190px;
    margin-bottom: 3rem;
  }
  .main-logo {
    width: 32rem;
    height: 32rem;
  }
  .content-right {
    padding-top: 12%;
  }
  .time {
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
    color: #bfc0d4;
    width: 100%;
  }
  .time div {
    text-align: center;
    margin: 0px 15px;
    width: 100%;
  }
  .time div p {
    font-size: 60px;
    margin-bottom: -17px;
    font-weight: 600;
  }
  .btns div {
    margin-top: 13%;
    width: 30%;
  }
  .time h3 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .content-left {
    padding: 40px;
    flex: 1;
  }
  .school-logo {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 4rem;
  }
  .main-head {
    width: 100%;
    font-size: 60px;
    font-weight: 700;
  }
  .content-right {
    display: none;
  }
  .btns div {
    width: 30%;
    margin-top: 10%;
  }
  .time-left {
    display: inline-flex;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
    color: #b0b1c0;
    width: 70%;
  }
  .time-left div {
    margin: 0px 10px;
  }
  .time-left div p {
    font-size: 70px;
  }
  .time-left h3 {
    font-size: 70px;
  }
  .top-logos img:nth-child(2) {
    display: inline-flex;
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .content-left {
    padding: 30px;
    padding-left: 30px;
  }
  .school-logo {
    width: 110px;
    height: 110px;
    margin-bottom: 2rem;
  }
  .main-head {
    /* border: 1px solid white; */
    width: 100%;
    font-size: 40px;
    font-weight: 700;
  }
  .content-left p {
    font-size: 23px;
    font-weight: 500;
  }
  .btns {
    flex-direction: column;
    overflow: hidden;
  }
  .btns div {
    margin-top: 20px;
    width: 90%;
  }
  .time-left {
    display: inline-flex;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
    color: #b0b1c0;
    width: 100%;
  }
  .content-right {
    display: none;
  }
  .top-logos img:nth-child(2) {
    display: none;
  }
  .time-left div p {
    font-size: 40px;
    margin-bottom: -17px;
    color: #b0b1c0;
    font-weight: 600;
  }

  .time-left h3 {
    font-size: 40px;
    margin-top: 10px;
  }
  .top-logos img:nth-child(2) {
    display: inline-flex;
    margin-top: 7px;
    width: 180px;
    height: 180px;
  }
}
